* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff0 50%, #333 50%);
}

.container {
    width: 30%;
    height: 80vh;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media(max-width: 1199px) {
    .container {
        width: 50%;
    }
}
@media(max-width: 767px) {
    .container {
        width: 90%;
    }
}

input {
    width: 95%;
    margin-top: 15px;
    background-color: #666;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 25px 15px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.top {
    position: relative;
}

.top button {
    border: none;
    outline: none;
    background-color: #ff0;
    padding: 8px 15px;
    position: absolute;
    top: 36%;
    left: 4%;
    border-radius: 5px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

ul {
    width: 95%;
    list-style-type: none;
    text-align: left;
    margin: auto;
}

li {
    color: #666;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

ul svg {
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

ul .fa-check {
    color: green;
}

ul .fa-trash {
    color: #ff0033;
}

ul .checked {
    background-color: lightgreen;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

